.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  display: inline-block;
  background-color: $backdrop-bg-clr;

  opacity: 1;
  transition: opacity $animation, visibility $animation;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;

  & .modal {
    transform: translate(-50%, -50%) scale(0.8);
  }
}

.modal {
  width: 450px;
  height: 609px;
  padding: 40px;

  position: absolute;
  top: 50%;
  left: 50%;

  background-color: $main-bg;
  box-shadow: $modal-box-shadow;
  border-radius: 4px;

  transform: translate(-50%, -50%) scale(1);
  transition: transform $animation;

  @media screen and (min-width: 1200px) {
    width: 528px;
    height: 581px;
  }
}

.modal__btn {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 30px;
  height: 30px;

  border-radius: 50%;
  background-color: $main-bg;
  border: 1px solid rgba(0, 0, 0, 0.1);
  fill: $close-icon-clr;

  transition: fill $animation, background-color $animation;

  &:hover,
  &:focus {
    fill: $brand-clr;
  }
}

// CONTENT

.modal__title {
  display: block;
  margin-bottom: 12px;

  font-size: 20px;
  line-height: 1.15;
  text-align: center;

  color: $main-text-clr;
}

.modal-form__label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;

  letter-spacing: 0.01em;

  color: $secondary-text-clr;
}

.modal-form__input-field {
  position: relative;
  margin-bottom: 10px;
}

.modal-form__input {
  padding: 12px 16px 12px 42px;

  width: 100%;
  height: 40px;

  border: $modal-form-border;
  border-radius: 4px;
  outline: none;

  transition: border-color $animation;

  &:focus-within {
    border-color: $brand-clr;
  }

  &:focus-within + .modal-form__icon {
    fill: $brand-clr;
  }
}

.modal-form__icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  fill: $main-text-clr;

  transition: fill $animation;
}

.modal-form__input-comment {
  padding: 12px 16px;
  margin-bottom: 20px;

  width: 100%;
  height: 120px;

  resize: none;
  border: $modal-form-border;
  border-radius: 4px;
  outline: none;

  transition: border-color $animation;

  &:focus-within {
    border-color: $brand-clr;
  }

  &::placeholder {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;

    color: $modal-comment-clr;
  }
}

.modal-form__policy-icon {
  border: 2px solid $main-text-clr;
  border-radius: 2px;

  transition: background-color $animation, border-color $animation;
}

.modal-form__policy-checkbox:checked + .modal-form__policy-icon {
  border-color: transparent;
  background-color: $brand-clr;
}

.modal-form__policy-label {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-bottom: 30px;

  font-size: 12px;
  line-height: 1.16;
  user-select: none;

  color: $secondary-text-clr;

  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.71;
  }
}

.modal-form__policy-link {
  color: $brand-clr;
}

.modal-form__btn {
  display: block;
  padding: 10px 52px;
  margin-left: auto;
  margin-right: auto;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  color: $main-bg;
  background: $brand-clr;
  box-shadow: $hero-btn-shadow;
  border-radius: 4px;
  border: none;
  cursor: pointer;

  transition: background-color $animation;

  &:hover,
  &:focus {
    background-color: $modal-btn-bg-clr;
  }
}
