.hero-section {
  margin: 0 auto;
  padding-top: 118px;
  padding-bottom: 118px;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/WebStudio/hero-bg-img-480.jpg);
  background-position: center;
  background-size: cover;
  background-color: $secondary-bg;

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: url(../images/WebStudio/hero-bg-img-960.jpg);
  }

  @media screen and (min-width: 577px) and (max-width: 1199px) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/WebStudio/hero-bg-img-768.jpg);
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url(../images/WebStudio/hero-bg-img-1536.jpg);
    }
  }

  @media screen and (min-width: 1200px) {
    min-height: 600px;
    padding: 200px 0;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/WebStudio/hero-bg-img-1600.jpg);
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url(../images/WebStudio/hero-bg-img-3200.jpg);
    }
  }
}

.hero-section__container {
  max-width: 390px;
  text-align: center;

  @media screen and (min-width: 1200px) {
    max-width: 696px;
  }
}

.hero-section__title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: $main-bg;

  @media screen and (max-width: 1199px) {
    font-size: 26px;
    line-height: 1.61;
  }
}

.hero-section__btn {
  padding: 10px 32px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;

  letter-spacing: 0.06em;
  color: $main-bg;
  background-color: $brand-clr;
  box-shadow: $hero-btn-shadow;
  border-radius: 4px;
  border: none;
  cursor: pointer;

  transition: color $animation, background-color $animation;

  &:hover,
  &:focus {
    color: $brand-clr;
    background-color: $main-bg;
  }
}
